<div class="l-footer p-footer">
	<div class="p-footer__container">
		<div class="p-footer__upper">
			<div class="p-footer__upper-container l-inner">
				<div class="p-footer__upper-left">
					<p class="p-footer__upper-text">まずはお気軽にご相談ください</p>
					<a href="tel:0745-12-3456" class="p-footer__upper-tel"
						><img src="./images/common/cmn_icon-tel01.png" alt="" class="p-footer__upper-tel-img" /><img
							src="./images/common/cmn_icon-tel-hover01.png"
							alt=""
							class="p-footer__upper-tel-img footer__upper-tel-img--hover"
						/>0745-12-3456</a
					>
					<div class="p-footer__upper-reception">（受付時間）</div>
					<div class="p-footer__upper-time">午前9時～午後6時<br />（土・日・祝除く）</div>
				</div>
				<div class="p-footer__upper-right">
					<a href="#" class="p-footer__upper-btn"
						><img src="./images/common/cmn_icon-email01.png" alt="" class="p-footer__upper-btn-icon" /><img
							src="./images/common/cmn_icon-email-hover01.png"
							alt=""
							class="p-footer__upper-btn-icon footer__upper-btn-icon--hover"
						/>メール</a
					>
					<a href="#" class="p-footer__upper-btn"
						><img src="./images/common/cmn_icon-estimate01.png" alt="" class="p-footer__upper-btn-icon" /><img
							src="./images/common/cmn_icon-estimate-hover01.png"
							alt=""
							class="p-footer__upper-btn-icon footer__upper-btn-icon--hover"
						/>お見積り</a
					>
				</div>
			</div>
		</div>
		<div class="p-footer__lower">
			<div class="p-footer__lower-container l-inner">
				<div class="p-footer__lower-left">
					<div class="p-footer__lower-media">
						<img src="./images/common/cmnn_footer-logo.png" alt="石井商会ロゴ" class="p-footer__lower-img" />
						<div class="p-footer__lower-content">
							<p class="p-footer__lower-lead">奈良県の建設機械・舗装機械・建設資材<br />リース・レンタル・販売・修理</p>
							<div class="p-footer__lower-title">石井商会</div>
							<div class="p-footer__lower-table">
								<div class="p-footer__lower-row">
									<div class="p-footer__lower-name">住所</div>
									<div class="p-footer__lower-data">奈良県大和郡山市●●</div>
								</div>
								<div class="p-footer__lower-row">
									<div class="p-footer__lower-name">電話</div>
									<div class="p-footer__lower-data">0745-12-3456&nbsp;|&nbsp;FAX&nbsp;0745-22-3456</div>
								</div>
								<div class="p-footer__lower-row">
									<div class="p-footer__lower-name">営業時間</div>
									<div class="p-footer__lower-data">午前９時～午後６時　休業日：土・日・祝</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="p-footer__lower-middle">
					<div class="p-footer__lower-sub-title">対応可能エリア</div>
					<ul class="p-footer__lower-list">
						<li class="p-footer__lower-item"><a href="#" class="p-footer__lower-link">・奈良県</a></li>
						<li class="p-footer__lower-item"><a href="#" class="p-footer__lower-link">・大阪府</a></li>
						<li class="p-footer__lower-item"><a href="#" class="p-footer__lower-link">・京都府</a></li>
						<li class="p-footer__lower-item"><a href="#" class="p-footer__lower-link">・兵庫県</a></li>
						<li class="p-footer__lower-item"><a href="#" class="p-footer__lower-link">・滋賀県</a></li>
						<li class="p-footer__lower-item"><a href="#" class="p-footer__lower-link">・三重県</a></li>
						<li class="p-footer__lower-item"><a href="#" class="p-footer__lower-link">・愛知県</a></li>
						<li class="p-footer__lower-item"><a href="#" class="p-footer__lower-link">・和歌山県</a></li>
					</ul>
				</div>
				<div class="p-footer__lower-right">
					<div class="p-footer__lower-sub-title">サイトマップ</div>
					<ul class="p-footer__lower-list">
						<li class="p-footer__lower-item"><a href="#" class="p-footer__lower-link">・ホーム</a></li>
						<li class="p-footer__lower-item"><a href="#" class="p-footer__lower-link">・サービス</a></li>
						<li class="p-footer__lower-item"><a href="#" class="p-footer__lower-link">・リース＆レンタル</a></li>
						<li class="p-footer__lower-item"><a href="#" class="p-footer__lower-link">・販売・中古機械</a></li>
						<li class="p-footer__lower-item"><a href="#" class="p-footer__lower-link">・お客様のお声</a></li>
						<li class="p-footer__lower-item"><a href="#" class="p-footer__lower-link">・会社概要</a></li>
						<li class="p-footer__lower-item"><a href="#" class="p-footer__lower-link">・代表ご挨拶</a></li>
						<li class="p-footer__lower-item"><a href="#" class="p-footer__lower-link">・お見積り依頼</a></li>
					</ul>
				</div>
			</div>
			<div class="p-footer__copyright"><small>Copyright &copy; 石井商会 All Right Rserved.</small></div>
		</div>
	</div>
</div>
