<header class="p-header">
	<div class="p-header__container l-inner">
		<div class="p-header__left">
			<nav class="p-header__nav">
				<ul class="p-header__nav-list">
					<li class="p-header__item"><a href="#" class="p-header__link">サービス</a></li>
					<li class="p-header__item"><a href="#" class="p-header__link">リース・レンタル</a></li>
					<li class="p-header__item"><a href="#" class="p-header__link">販売・中古機械</a></li>
					<li class="p-header__item"><a href="#" class="p-header__link">お客様のお声</a></li>
					<li class="p-header__item"><a href="#" class="p-header__link">会社概要</a></li>
					<li class="p-header__item"><a href="#" class="p-header__link">代表ご挨拶</a></li>
				</ul>
			</nav>
		</div>
		<div class="p-header__right">
			<a href="tel:0745-12-3456" class="p-header__btn"><img src="./images/common/cmn_icon-tel01.png" alt="" class="p-header__btn-icon" />お電話</a>
			<a href="#" class="p-header__btn"><img src="./images/common/cmn_icon-email01.png" alt="" class="p-header__btn-icon" />メール</a>
			<a href="#" class="p-header__btn"><img src="./images/common/cmn_icon-estimate01.png" alt="" class="p-header__btn-icon" />お見積り</a>
		</div>
	</div>
	<!--  header--pc -->

	<div class="l-hamburger js-hamburger">
		<span class="l-hamburger-line l-hamburger-line01"></span>
		<span class="l-hamburger-line l-hamburger-line02"></span>
		<span class="l-hamburger-line l-hamburger-line03"></span>
	</div>
	<!-- /.hamburger -->

	<div class="l-drawer-menu">
		<div class="l-drawer-menu__container">
			<ul class="l-drawer-menu__list">
				<li class="l-drawer-menu__item"><a class="l-drawer-menu__link" href="#">サービス</a></li>
				<li class="l-drawer-menu__item"><a class="l-drawer-menu__link" href="#">リース・レンタル</a></li>
				<li class="l-drawer-menu__item"><a class="l-drawer-menu__link" href="#">販売・中古機械</a></li>
				<li class="l-drawer-menu__item"><a class="l-drawer-menu__link" href="#">お客様のお声</a></li>
				<li class="l-drawer-menu__item"><a class="l-drawer-menu__link" href="#">会社概要</a></li>
				<li class="l-drawer-menu__item"><a class="l-drawer-menu__link" href="#">代表ご挨拶</a></li>
				<li class="l-drawer-menu__item l-drawer-menu__item--mt">
					<a class="l-drawer-menu__btn" href="#"><img src="./images/common/cmn_icon-tel01.png" alt="" class="l-drawer-menu__btn-icon" />お電話</a>
				</li>
				<li class="l-drawer-menu__item">
					<a class="l-drawer-menu__btn" href="#"><img src="./images/common/cmn_icon-email01.png" alt="" class="l-drawer-menu__btn-icon" />メール</a>
				</li>
				<li class="l-drawer-menu__item">
					<a class="l-drawer-menu__btn" href="#"><img src="./images/common/cmn_icon-estimate01.png" alt="" class="l-drawer-menu__btn-icon" />お見積り</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /.drawer-menu -->
</header>
