<!DOCTYPE html>
<html lang="ja">
	<%- include('./common/_head') %>
	<body>
		<div class="site-wrapper">
			<%- include('./common/_header') %>
			<main>
				<div class="p-top">
					<div class="p-top__container l-inner">
						<section class="p-top-fv p-top__fv">
							<div class="p-top-fv__container l-inner">
								<h2 class="p-top-fv__title">奈良県の建設業を支える<br class="u-mobile" />ベストパートナー</h2>
								<h1>
									<img src="./images/top/top_fv-logo.png" alt="石井商会ロゴ" class="p-top-fv__logo" />
								</h1>
								<div class="p-top-fv__foot">
									<div class="p-top-fv__content">
										<p class="p-top-fv__content-text">地域密着で安心のアフターサービス</p>
										<div class="p-top-fv__content-btn">トラブル発生時は年中ご対応いたします</div>
									</div>
								</div>
							</div>
						</section>
						<!-- .p-top-fv -->

						<section class="p-top-service p-top__service wow fadeInUp" data-wow-duration="2s">
							<div class="p-top-service__container">
								<div class="c-head">
									<h2 class="c-head__title">SERVICE</h2>
									<p class="c-head__lead">最先端機材を業界最安値でご提供、<br class="u-mobile" />地域密着でアフターサービスも<br class="u-mobile" />迅速・丁寧にご対応</p>
								</div>
								<div class="p-top-service__content">
									<a href="#" class="p-top-service__card service__card-01">
										<div class="p-top-service__card-num">SERVICE 01</div>
										<img src="./images/top/top_service-Icon.png" alt="" class="p-top-service__card-icon" />
										<h3 class="p-top-service__card-title">建設機械の販売・リース</h3>
										<div class="p-top-service__card-img-wrapper">
											<img src="./images/top/top_service-img01.jpg" alt="建設機械の販売・リース" class="p-top-service__card-img service__card-01-img" />
										</div>
									</a>
									<a href="#" class="p-top-service__card service__card-02">
										<div class="p-top-service__card-num">SERVICE 02</div>
										<img src="./images/top/top_service-Icon.png" alt="" class="p-top-service__card-icon" />
										<h3 class="p-top-service__card-title">道路機械の販売・リース</h3>
										<div class="p-top-service__card-img-wrapper">
											<img src="./images/top/top_service-img02.jpg" alt="道路機械の販売・リース" class="p-top-service__card-img service__card-02-img" />
										</div>
									</a>
									<a href="#" class="p-top-service__card service__card-03">
										<div class="p-top-service__card-num">SERVICE 03</div>
										<img src="./images/top/top_service-Icon.png" alt="" class="p-top-service__card-icon" />
										<h3 class="p-top-service__card-title">中古機械の販売</h3>
										<div class="p-top-service__card-img-wrapper">
											<img src="./images/top/top_service-img03.jpg" alt="中古機械の販売" class="p-top-service__card-img" />
										</div>
									</a>
									<a href="#" class="p-top-service__card service__card-04">
										<div class="p-top-service__card-num">SERVICE 04</div>
										<img src="./images/top/top_service-Icon.png" alt="" class="p-top-service__card-icon" />
										<h3 class="p-top-service__card-title">各種機械の修理</h3>
										<div class="p-top-service__card-img-wrapper">
											<img src="./images/top/top_service-img04.jpg" alt="各種機械の修理" class="p-top-service__card-img" />
										</div>
									</a>
									<a href="#" class="p-top-service__card service__card-05">
										<div class="p-top-service__card-num">SERVICE 05</div>
										<img src="./images/top/top_service-Icon.png" alt="" class="p-top-service__card-icon" />
										<h3 class="p-top-service__card-title">建設資材のレンタル</h3>
										<div class="p-top-service__card-img-wrapper">
											<img src="./images/top/top_service-img05.jpg" alt="建設資材のレンタル" class="p-top-service__card-img" />
										</div>
									</a>
								</div>
							</div>
						</section>
						<!-- .p-top-service -->

						<section class="p-top-lease-rental p-top__lease-rental wow fadeInUp" data-wow-duration="2s">
							<div class="p-top-lease-rental__container">
								<div class="c-head">
									<h2 class="c-head__title">LEASE&RENTAL</h2>
									<p class="c-head__lead">建設機械・舗装機械を中心に<br class="u-mobile" />リース・レンタルで提供しております。</p>
								</div>
								<div class="swiper p-top-lease-rental__content">
									<div class="swiper-wrapper p-top-lease-rental__cards">
										<div class="swiper-slide p-top-lease-rental__card">
											<img src="./images/top/top_lease-Image.png" alt="油圧ショベル" class="p-top-lease-rental__card-img" />
											<div class="p-top-lease-rental__card-content">
												<h3 class="p-top-lease-rental__card-title">油圧ショベル</h3>
												<p class="p-top-lease-rental__card-text">リース：99,800円～／月</p>
												<p class="p-top-lease-rental__card-text">レンタル：32,800円～／日</p>
											</div>
										</div>
										<div class="swiper-slide p-top-lease-rental__card">
											<img src="./images/top/top_lease-Image.png" alt="油圧ショベル" class="p-top-lease-rental__card-img" />
											<div class="p-top-lease-rental__card-content">
												<h3 class="p-top-lease-rental__card-title">油圧ショベル</h3>
												<p class="p-top-lease-rental__card-text">リース：99,800円～／月</p>
												<p class="p-top-lease-rental__card-text">レンタル：32,800円～／日</p>
											</div>
										</div>
										<div class="swiper-slide p-top-lease-rental__card">
											<img src="./images/top/top_lease-Image.png" alt="油圧ショベル" class="p-top-lease-rental__card-img" />
											<div class="p-top-lease-rental__card-content">
												<h3 class="p-top-lease-rental__card-title">油圧ショベル</h3>
												<p class="p-top-lease-rental__card-text">リース：99,800円～／月</p>
												<p class="p-top-lease-rental__card-text">レンタル：32,800円～／日</p>
											</div>
										</div>
										<div class="swiper-slide p-top-lease-rental__card">
											<img src="./images/top/top_lease-Image.png" alt="油圧ショベル" class="p-top-lease-rental__card-img" />
											<div class="p-top-lease-rental__card-content">
												<h3 class="p-top-lease-rental__card-title">油圧ショベル</h3>
												<p class="p-top-lease-rental__card-text">リース：99,800円～／月</p>
												<p class="p-top-lease-rental__card-text">レンタル：32,800円～／日</p>
											</div>
										</div>
										<div class="swiper-slide p-top-lease-rental__card">
											<img src="./images/top/top_lease-Image.png" alt="油圧ショベル" class="p-top-lease-rental__card-img" />
											<div class="p-top-lease-rental__card-content">
												<h3 class="p-top-lease-rental__card-title">油圧ショベル</h3>
												<p class="p-top-lease-rental__card-text">リース：99,800円～／月</p>
												<p class="p-top-lease-rental__card-text">レンタル：32,800円～／日</p>
											</div>
										</div>
										<div class="swiper-slide p-top-lease-rental__card">
											<img src="./images/top/top_lease-Image.png" alt="油圧ショベル" class="p-top-lease-rental__card-img" />
											<div class="p-top-lease-rental__card-content">
												<h3 class="p-top-lease-rental__card-title">油圧ショベル</h3>
												<p class="p-top-lease-rental__card-text">リース：99,800円～／月</p>
												<p class="p-top-lease-rental__card-text">レンタル：32,800円～／日</p>
											</div>
										</div>
										<div class="swiper-slide p-top-lease-rental__card">
											<img src="./images/top/top_lease-Image.png" alt="油圧ショベル" class="p-top-lease-rental__card-img" />
											<div class="p-top-lease-rental__card-content">
												<h3 class="p-top-lease-rental__card-title">油圧ショベル</h3>
												<p class="p-top-lease-rental__card-text">リース：99,800円～／月</p>
												<p class="p-top-lease-rental__card-text">レンタル：32,800円～／日</p>
											</div>
										</div>
										<!-- 項目追加箇所 -->
									</div>
								</div>
							</div>
						</section>
						<!-- .p-top-lease-rental -->

						<section class="p-top-sale-used p-top__sale-used wow fadeInUp" data-wow-duration="2s">
							<div class="p-top-sale-used__container">
								<div class="c-head">
									<h2 class="c-head__title">SALE&USED</h2>
									<p class="c-head__lead">最新機械から中古機械まで<br class="u-mobile" />お客様ひとりひとりのニーズに合わせた<br class="u-mobile" />機械を販売いたします。</p>
								</div>
								<div class="swiper p-top-sale-used__content">
									<div class="swiper-wrapper p-top-sale-used__cards">
										<div class="swiper-slide p-top-sale-used__card">
											<img src="./images/top/top_lease-Image.png" alt="油圧ショベル" class="p-top-sale-used__card-img" />
											<div class="p-top-sale-used__card-content">
												<h3 class="p-top-sale-used__card-title">油圧ショベル</h3>
												<div class="p-top-sale-used__card-table">
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">販売価格：</div>
														<div class="p-top-sale-used__card-data">4,980,000円</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">メーカー：</div>
														<div class="p-top-sale-used__card-data">メーカーA</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">モデル名：</div>
														<div class="p-top-sale-used__card-data">モデルA</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">詳　細　：</div>
														<div class="p-top-sale-used__card-data">テキスト<br />テキスト<br />テキスト</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide p-top-sale-used__card">
											<img src="./images/top/top_lease-Image.png" alt="油圧ショベル" class="p-top-sale-used__card-img" />
											<div class="p-top-sale-used__card-content">
												<h3 class="p-top-sale-used__card-title">油圧ショベル</h3>
												<div class="p-top-sale-used__card-table">
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">販売価格：</div>
														<div class="p-top-sale-used__card-data">4,980,000円</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">メーカー：</div>
														<div class="p-top-sale-used__card-data">メーカーA</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">モデル名：</div>
														<div class="p-top-sale-used__card-data">モデルA</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">詳　細　：</div>
														<div class="p-top-sale-used__card-data">テキスト<br />テキスト<br />テキスト</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide p-top-sale-used__card">
											<img src="./images/top/top_lease-Image.png" alt="油圧ショベル" class="p-top-sale-used__card-img" />
											<div class="p-top-sale-used__card-content">
												<h3 class="p-top-sale-used__card-title">油圧ショベル</h3>
												<div class="p-top-sale-used__card-table">
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">販売価格：</div>
														<div class="p-top-sale-used__card-data">4,980,000円</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">メーカー：</div>
														<div class="p-top-sale-used__card-data">メーカーA</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">モデル名：</div>
														<div class="p-top-sale-used__card-data">モデルA</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">詳　細　：</div>
														<div class="p-top-sale-used__card-data">テキスト<br />テキスト<br />テキスト</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide p-top-sale-used__card">
											<img src="./images/top/top_lease-Image.png" alt="油圧ショベル" class="p-top-sale-used__card-img" />
											<div class="p-top-sale-used__card-content">
												<h3 class="p-top-sale-used__card-title">油圧ショベル</h3>
												<div class="p-top-sale-used__card-table">
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">販売価格：</div>
														<div class="p-top-sale-used__card-data">4,980,000円</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">メーカー：</div>
														<div class="p-top-sale-used__card-data">メーカーA</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">モデル名：</div>
														<div class="p-top-sale-used__card-data">モデルA</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">詳　細　：</div>
														<div class="p-top-sale-used__card-data">テキスト<br />テキスト<br />テキスト</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide p-top-sale-used__card">
											<img src="./images/top/top_lease-Image.png" alt="油圧ショベル" class="p-top-sale-used__card-img" />
											<div class="p-top-sale-used__card-content">
												<h3 class="p-top-sale-used__card-title">油圧ショベル</h3>
												<div class="p-top-sale-used__card-table">
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">販売価格：</div>
														<div class="p-top-sale-used__card-data">4,980,000円</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">メーカー：</div>
														<div class="p-top-sale-used__card-data">メーカーA</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">モデル名：</div>
														<div class="p-top-sale-used__card-data">モデルA</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">詳　細　：</div>
														<div class="p-top-sale-used__card-data">テキスト<br />テキスト<br />テキスト</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide p-top-sale-used__card">
											<img src="./images/top/top_lease-Image.png" alt="油圧ショベル" class="p-top-sale-used__card-img" />
											<div class="p-top-sale-used__card-content">
												<h3 class="p-top-sale-used__card-title">油圧ショベル</h3>
												<div class="p-top-sale-used__card-table">
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">販売価格：</div>
														<div class="p-top-sale-used__card-data">4,980,000円</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">メーカー：</div>
														<div class="p-top-sale-used__card-data">メーカーA</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">モデル名：</div>
														<div class="p-top-sale-used__card-data">モデルA</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">詳　細　：</div>
														<div class="p-top-sale-used__card-data">テキスト<br />テキスト<br />テキスト</div>
													</div>
												</div>
											</div>
										</div>
										<div class="swiper-slide p-top-sale-used__card">
											<img src="./images/top/top_lease-Image.png" alt="油圧ショベル" class="p-top-sale-used__card-img" />
											<div class="p-top-sale-used__card-content">
												<h3 class="p-top-sale-used__card-title">油圧ショベル</h3>
												<div class="p-top-sale-used__card-table">
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">販売価格：</div>
														<div class="p-top-sale-used__card-data">4,980,000円</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">メーカー：</div>
														<div class="p-top-sale-used__card-data">メーカーA</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">モデル名：</div>
														<div class="p-top-sale-used__card-data">モデルA</div>
													</div>
													<div class="p-top-sale-used__card-row">
														<div class="p-top-sale-used__card-head">詳　細　：</div>
														<div class="p-top-sale-used__card-data">テキスト<br />テキスト<br />テキスト</div>
													</div>
												</div>
											</div>
										</div>
										<!-- 項目追加箇所 -->
									</div>
								</div>
							</div>
						</section>
						<!-- .p-top-sale-used -->

						<section class="p-top-review p-top__review wow fadeInUp" data-wow-duration="2s">
							<div class="p-top-review__container">
								<div class="c-head">
									<h2 class="c-head__title">REVIEW</h2>
									<p class="c-head__lead">弊社をご利用いただいたお客様からの<br class="u-mobile" />お声を一部ご紹介いたします。</p>
								</div>
								<div class="swiper p-top-review__content">
									<div class="swiper-wrapper p-top-review__cards">
										<div class="swiper-slide p-top-review__card">
											<h3 class="p-top-review__card-title">●●市／●●社様</h3>
											<p class="p-top-review__card-text">
												ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。
											</p>
										</div>
										<div class="swiper-slide p-top-review__card">
											<h3 class="p-top-review__card-title">●●市／●●社様</h3>
											<p class="p-top-review__card-text">
												ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。
											</p>
										</div>
										<div class="swiper-slide p-top-review__card">
											<h3 class="p-top-review__card-title">●●市／●●社様</h3>
											<p class="p-top-review__card-text">
												ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。
											</p>
										</div>
										<div class="swiper-slide p-top-review__card">
											<h3 class="p-top-review__card-title">●●市／●●社様</h3>
											<p class="p-top-review__card-text">
												ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。
											</p>
										</div>
										<div class="swiper-slide p-top-review__card">
											<h3 class="p-top-review__card-title">●●市／●●社様</h3>
											<p class="p-top-review__card-text">
												ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。
											</p>
										</div>
										<div class="swiper-slide p-top-review__card">
											<h3 class="p-top-review__card-title">●●市／●●社様</h3>
											<p class="p-top-review__card-text">
												ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。
											</p>
										</div>
										<div class="swiper-slide p-top-review__card">
											<h3 class="p-top-review__card-title">●●市／●●社様</h3>
											<p class="p-top-review__card-text">
												ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。<br />ここにお客様からのお声が入ります。
											</p>
										</div>
										<!-- 項目追加箇所 -->
									</div>
								</div>
							</div>
						</section>
						<!-- .p-top-review -->

						<section class="p-top-company p-top__company wow fadeInUp" data-wow-duration="2s">
							<div class="p-top-company__container">
								<div class="c-head">
									<h2 class="c-head__title">COMPANY</h2>
									<p class="c-head__lead">
										石井商会は、奈良県を中心に展開する<br class="u-mobile" />建設機械のリース・レンタル・販売・修理を<br class="u-mobile" />行っております。
									</p>
								</div>
								<div class="p-top-company__company">
									<div class="p-top-company__company-media">
										<div class="p-top-company__company-table">
											<div class="p-top-company__company-row">
												<div class="p-top-company__company-head">商　号</div>
												<div class="p-top-company__company-data">石井商会</div>
											</div>
											<div class="p-top-company__company-row">
												<div class="p-top-company__company-head">所在地</div>
												<div class="p-top-company__company-data">奈良県大和郡山市●●</div>
											</div>
											<div class="p-top-company__company-row">
												<div class="p-top-company__company-head">創　立</div>
												<div class="p-top-company__company-data">平成●●年</div>
											</div>
											<div class="p-top-company__company-row">
												<div class="p-top-company__company-head">代　表</div>
												<div class="p-top-company__company-data">石井 ●●</div>
											</div>
											<div class="p-top-company__company-row">
												<div class="p-top-company__company-head">事業内容</div>
												<div class="p-top-company__company-data">建設機械・舗装機械・建設資材の<br class="u-mobile" />リース・レンタル・販売・修理</div>
											</div>
											<div class="p-top-company__company-row">
												<div class="p-top-company__company-head">取引銀行</div>
												<div class="p-top-company__company-data">●●銀行</div>
											</div>
											<div class="p-top-company__company-row">
												<div class="p-top-company__company-head">各種許可</div>
												<div class="p-top-company__company-data">奈良県知事許可●●号</div>
											</div>
										</div>
										<div class="p-top-company__company-img-wrapper"><img src="./images/top/top_company-img01.jpg" alt="" class="p-top-company__company-img" /></div>
									</div>
								</div>
								<div class="p-top-company__greetings">
									<div class="p-top-company__greetings-media">
										<div class="p-top-company__greetings-description">
											<div class="p-top-company__greetings-name">石井商会 代表 <span class="p-top-company__greetings-name-big">石井 石井</span></div>
											<p class="p-top-company__greetings-text">20xx年、奈良県郡山市を中心に拠点を展開する石井商会を創業いたしました。</p>
											<p class="p-top-company__greetings-text">
												創業以来、建設機械のリース・レンタル・販売・修理を通じて、地元業者の方々をはじめ、地域の発展に貢献して 参りました。
											</p>
											<p class="p-top-company__greetings-text">
												最近では、道路機械・建設資材のリース・レンタル・販売・修理を取り扱い、更に一回り大きくなった地域密着企業として、奈良県を中心に関西全域の建設業者の方々のベストパートナーになれるよう尽力しております。
											</p>
											<p class="p-top-company__greetings-text">今後とも、地球にやさしい建設機械を取り扱い、地域社会の未来のためになる企業を目指して参ります。</p>
											<p class="p-top-company__greetings-text">
												お客様から喜んで選んで頂ける地域密着企業を目指し、多種多様に変化していくお客様のニーズに常に対応できる企業として、今後とも皆様からの一層のご支援・ご愛顧を賜りますようお願い申し上げます。
											</p>
										</div>
										<div class="p-top-company__greetings-img-wrapper"><img src="./images/top/top_greeting-img01.jpg" alt="" class="p-top-company__greetings-img" /></div>
									</div>
								</div>
							</div>
						</section>
						<!-- .p-top-company -->

						<section class="p-top-estimate p-top__estimate wow fadeInUp" data-wow-duration="2s">
							<div class="p-top-estimate__container">
								<div class="c-head">
									<h2 class="c-head__title">ESTIMATE</h2>
									<p class="c-head__lead">下記フォームに必要事項を入力いただき、<br class="u-mobile" />営業日１～３日で<br class="u-mobile" />簡易的にお見積りを作成いたします。</p>
								</div>
								<form method="/" action="/" class="p-top-estimate__form">
									<div class="p-top-estimate__form-item">
										<div class="p-top-estimate__form-name">事業所名</div>
										<div class="p-top-estimate__form-data"><input type="text" class="p-top-estimate__form-input" required /></div>
									</div>
									<div class="p-top-estimate__form-item">
										<div class="p-top-estimate__form-name">お電話番号</div>
										<div class="p-top-estimate__form-data"><input type="tel" class="p-top-estimate__form-input" required /></div>
									</div>
									<div class="p-top-estimate__form-item">
										<div class="p-top-estimate__form-name">メールアドレス</div>
										<div class="p-top-estimate__form-data"><input type="email" class="p-top-estimate__form-input" required /></div>
									</div>
									<div class="p-top-estimate__form-item">
										<div class="p-top-estimate__form-name">住所</div>
										<div class="p-top-estimate__form-data"><input type="text" class="p-top-estimate__form-input" required /></div>
									</div>
									<div class="p-top-estimate__form-item">
										<div class="p-top-estimate__form-name">お見積り機種</div>
										<div class="p-top-estimate__form-data"><input type="text" class="p-top-estimate__form-input" required /></div>
									</div>
									<div class="p-top-estimate__form-item">
										<div class="p-top-estimate__form-name">ご質問など</div>
										<div class="p-top-estimate__form-data"><input type="text" class="p-top-estimate__form-input" required /></div>
									</div>
									<p class="p-top-estimate__form-supply">
										フォームより寄せられた個人情報は、その他の目的で使用することはありません。<br />つきましては「プライバシーポリシー」をご覧ください。<br />※メールでのお問い合せにはご返答にお時間を頂く場合がございますので、予めご了承ください。<br />※「必須」のある項目には必ず入力してください。
									</p>
									<div class="p-top-estimate__form-privacypolicy">
										<label class="p-top-estimate__form-privacypolicy-check">
											プライバシーポリシーに同意します。
											<input type="checkbox" name="agree" class="p-top-estimate__form-privacypolicy-input" value="プライバシーポリシーの同意" />
											<span class="p-top-estimate__form-checkbox"> </span>
										</label>
									</div>
									<div class="p-top-estimate__form-error" id="error">
										<p class="p-top-estimate__form-error-text">必須項目です。選択してください。</p>
									</div>
									<button type="submit" id="confirm" class="p-top-estimate__form-submit">内容を確認する</button>
								</form>
							</div>
						</section>
						<!-- .p-top-estimate -->

						<div class="p-top-relief p-top__relief wow fadeInUp" data-wow-duration="2s">
							<div class="p-top-relief__container">
								<p class="p-top-relief__text">機械トラブルなど緊急時は<br class="u-mobile" />休業日でも<span class="p-top-relief__text--yellow">365</span>日対応いたします。</p>
							</div>
						</div>
						<!-- .p-top-relief -->
					</div>
				</div>
			</main>
			<%- include('./common/_footer') %>
		</div>
	</body>
</html>
